@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Poppins";
}

.section__title {
  color: #0a0826;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}

.navbar {
  padding: 20px 0;
}
#banner__slider img{
height: 586px;
}
.carousel__content h5 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  max-width: 639px;
  margin: 0 auto;
}
.carousel__content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0px;
  max-width: 456px;
  margin: 15px auto 25px auto;
}
.carousel__content button {
  margin-bottom: 30px;
}
#about__us img {
  height: 100%;
  width: 98%;
  -o-object-fit: cover;
  object-fit: cover;
}
#about__us p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

#our__package ul li {
  list-style: none;
}

.hot-card {
  transform: translateY(-8%);
}
#our__clients .section__title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
#our__clients img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

#faq img {
  margin-left: 2%;
  height: 100%;
  width: 98%;
  -o-object-fit: cover;
  object-fit: cover;
}
 #faq .accordion-button {
  color: #0a0826;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left; 
} 
#faq .accordion-body {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
footer {
  background-color: #0b0d17;
}
footer p {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
}
 footer h6 {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 500;
} 
